<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">User Grid</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>{{#link-to 'general'}}General Info{{/link-to}}</li>
            <li>{{#link-to 'status'}}Status{{/link-to}}</li>
        </ul>
    </div>
</div>

{{outlet}}
