<div class="row">
    <h3 class="col-md-10">General Information</h3>
</div>
<div class="row">
    {{big-number id="apps-count" header="# of Applications" number=applicationsCount}}
    {{big-number id="admin-count" header="# of Admins" number=adminsCount}}
    {{big-number id="org-count" header="# of Organizations" number=organizationsCount}}
</div>
{{view App.UserView}}